<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.exam.mentoring.mapper.StudentMapper">

  <select id="findOne" resultType="Student">
   SELECT s.* ,d.departmentName FROM Student s LEFT JOIN department d ON s.departmentId=d.id where s.id=#{id}
  </select>
  
  <select id="findByStudentNumber" resultType="Student">
    SELECT * FROM Student WHERE studentNumber=#{studentNumber}
  </select>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
  	INSERT INTO Student(studentNumber, name, phoneNumber, grade, email, departmentId, userId)
  	VALUES(#{studentNumber}, #{name}, #{phoneNumber}, #{grade}, #{email}, #{departmentId}, #{userId})
  </insert>
    <delete id="delete">
    DELETE FROM Student WHERE id = #{id}
  </delete>
  
  <update id="update">
  UPDATE Student SET
    studentNumber = #{studentNumber},
    name = #{name},
    departmentId = #{departmentId},
    grade = #{grade},
    email =#{email},
    phoneNumber=#{phoneNumber}    
  WHERE id = #{id}
</update>
  
  
  
</mapper>
